<html>
    <body>
    <center><br><br><br>
    <h1>Pesquisa de número de marcações no Instagram </h1>
    <form class="form" action="/formAction" method="post">
    <div class="formulario">
        <label> <input type="checkbox" value="carol.sbcampos" name="user">carol.sbcampos</label><br />
        <label> <input type="checkbox" value="thiago.clguimaraes" name="user">thiago.clguimaraes</label><br />
        <label> <input type="checkbox" value="lanzza.cor83" name="user">lanzza.cor83  </label><br />
        <label> <input type="checkbox" value="thiagoguimaraes.9398" name="user">thiagoguimaraes.9398</label><br />
        <label> <input type="checkbox" value="correa.th83" name="user">correa.th83  </label><br />
        <label> <input type="checkbox" value="carolbatista.sbc89" name="user">carolbatista.sbc89 </label><br />
        <label> <input type="checkbox" value="campos.magic" name="user">campos.magic  </label><br />
        <label> <input type="checkbox" value="batistac.souza89" name="user">batistac.souza89</label><br />
        <label> <input type="checkbox" value="guimaraes.lanza.correa" name="user">guimaraes.lanza.correa </label><br />
        <label> <input type="checkbox" value="corlanza.th" name="user">corlanza.th</label><br />
        <label> <input type="checkbox" value="carolinecampos.sb" name="user">carolinecampos.sb</label><br />
        <label> <input type="checkbox" value="guimaraes.cl" name="user">guimaraes.cl  </label><br />
        <label> <input type="checkbox" value="correalanza.cl" name="user">correalanza.cl</label><br />
        <label> <input type="checkbox" value="th.corlanza" name="user">th.corlanza</label><br />
        <label> <input type="checkbox" value="th.lanza83" name="user">th.lanza83 </label><br />
    <label for="url">Url</label>
    <input value="url" name="url" placeholder="insira a url" />
    </div>
    <input type="submit" value="Enviar" />
    </form>
    </center>
    </body> 
    </html>