<html>
    <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    
        <h1 id="titulo">Resultado da pesquisa</h1>
        <h2 id="subtitulo">O número de marcações de comentário no Instagram é: {{ countVar1 }}</h2>
    </body></html>